<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAEfE7P3Of0yqkpCZlaqbQNIQ7JVfEyZ6s</string>
	<key>GCM_SENDER_ID</key>
	<string>523920439041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bhoomitechzone.gharplot</string>
	<key>PROJECT_ID</key>
	<string>dailymart-55405</string>
	<key>STORAGE_BUCKET</key>
	<string>dailymart-55405.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523920439041:ios:3aed709c50b220231a8d00</string>
</dict>
</plist>